<div class="card">
  <div class="card-header">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :contraseña_nueva %> 
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <small><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :confirmar_contraseña %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :contraseña_antigua %> 
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>



    <div>Infeliz? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>

    <%= link_to "Volver", :back %>
  </div>
</div>


<%= stylesheet_link_tag 'registrations_edit', media: 'all' %>
