<div class="image-links-container">
  <div class="image-link">
    <a href="<%= solicitudes_aceptadas_rechazadas_path %>">
      <%= image_tag asset_path('aceptado_rechazado.webp'), alt: 'Imagen 1' %>
    </a>
    <p>
      <%= link_to 'Ver solicitudes atendidas', solicitudes_aceptadas_rechazadas_path %>
    </p>
  </div>

  <div class="image-link">
    <a href="<%= solicitudes_pendientes_path %>">
      <%= image_tag asset_path('pendiente.jpeg'), alt: 'Imagen 2' %>
    </a>
    <p>
      <%= link_to 'Ver solicitudes pendientes', solicitudes_pendientes_path %>
    </p>
  </div>
</div>

<%= stylesheet_link_tag 'solicitudes_index', media: 'all' %>



