<div class="card">
  <div class="card-header">
    <h2>Agregar reseña:</h2>
  </div>
  <div class="card-body">
    <%= form_for [@product, @review], class: "review-form" do |f| %>

      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "problema") %> durante la creación de la reseña:</h2>
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :calificación %> 
        <%= f.select :rating, [1, 2, 3, 4, 5], class: "rating-select" %>
      </p>
      <p>
        <%= f.label :comentario %><br>
        <%= f.text_area :comment, class: "comment-input" %>
      </p>
      <div class="actions text-center">
        <%= f.submit 'Agregar reseña', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'reviews_new', media: 'all' %>