<% if user_signed_in? %>
  <ul class="navbar-nav">
    <% if can? :create, Product %>
      <li class="nav-item">
        <%= link_to "Crear Producto", new_product_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Solicitudes", solicitudes_path, class: "nav-link" %>
      </li>
    <% end %>
    <% if can? :read, Product %>
      <li class="nav-item">
        <%= link_to "Ver Productos", products_path, class: "nav-link" %>
      </li>
    <% end %>
    <% if current_user.admin? == false %>
      <li>
        <%= link_to "Mis solicitudes", solicitudes_buscar_path, class: "nav-link" %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "Foro", questions_path, class: "nav-link" %>
    </li>
    <li class="nav-item">  
      <%= link_to "Editar Perfil", edit_user_registration_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>
  <% else %>
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "Ver Productos", products_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>
    </li>
  </ul>
<% end %>
